@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');


html, body {
  margin: 0;
  padding: 0;
  background-color: pink;
}
canvas {
  display: block;
}

p {
  color: #000000;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 29%;
}

div {
  background-color: lightblue;
  display: block;
}

.banner {
  padding: 5px;
  letter-spacing: 25px;
  font-size: 200%;
  text-align: CENTER;
  margin: auto;
  border: 1px solid green;
}




